<div class="formBdy ">

  <div *ngIf="studentModel" class="row">

    <table class="lefttab " [ngClass]="(commonServiceService.innerWidth < 900) ? 'col-12' :'col-6'">
      <tr>
        <td class="slno">1.</td>
        <td class="formlablesec">Student Name</td>
        <td class="formValesec">
          <input [(ngModel)]="studentModel.Name" type="text" class="form-control inputag">
        </td>
      </tr>

      <tr>
        <td class="slno">2.</td>
        <td class="formlablesec">Date Of Admission</td>
        <td class="formValesec">
          <div class="row" style="margin: 0px !important;">
            <input [(ngModel)]="studentModel.DateOfAdmission" matInput class="form-control inputag dtpickinp"
              [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle class="togledate" matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>

        </td>
      </tr>

    </table>
    <table class="righttab " [ngClass]="(commonServiceService.innerWidth < 900) ? 'col-12' :'col-6'">
      <tr>
        <td class="slno">3.</td>
        <td class="formlablesec">Courses</td>
        <td class="formValesec">
          <select [(ngModel)]="studentModel.Courses" class="form-control inputag" id="sel1">
            <option *ngFor="let Cour of Courses"> {{Cour.value}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="slno">4.</td>
        <td class="formlablesec">Fees</td>
        <td class="formValesec">
          <select [(ngModel)]="studentModel.Fees" class="form-control inputag" id="sel1">
            <option *ngFor="let fee of Fees"> {{fee.value}}</option>
          </select>
        </td>
      </tr>
    </table>
    <div style="width: 100%;"><h2>Payment :</h2></div>
    
    <table class="payentttab" [ngClass]="(commonServiceService.innerWidth < 900) ? 'col-12' :'col-6'" >
      <tr>
        <th width="5%">No.</th>
        <th width="28%">Paid</th>
        <th width="27%">Balance</th>
        <th width="40%">Date</th>
      </tr>
      <tr class="" style="margin: 0;" *ngFor="let paid of paidAmount;let index = index">

        <!-- &nbsp; &nbsp; Payment Paid -->

          <td class="paySlno ">{{index + 1}}.</td>
          <td class="payVal ">
            <input type="text" [(ngModel)]='paid.Amount' class="form-control">
          </td>
          <td class="payBalAmo ">
            <input type="text" class="form-control">
          </td>
          <td class="payDate">
            <div class="row col-12" style="padding-right: 0;">
              <input matInput class="form-control inputag dtpickinp" [matDatepicker]="picker"
              placeholder="Choose a date">
            <mat-datepicker-toggle class="paytogledate" matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            </div>
              
          </td>

      </tr>
    
    </table>
      <div class="lastAddRow">
          <button class="btn addtBtn" (click)="addNew()" type="button">Add</button>
      <div>
  </div>

  <div *ngIf="!studentModel" class="alertMsgg">
    <h1> This Students Does not exist </h1>
    <h3> Admission Number : {{CurrentId}} </h3>
  </div>



</div>