

.formBdy {
    top: 247px;
    width: 100%;
    margin: 0px !important;
    padding: 15px;
}

table.righttab {
    right: 0;
    top: 0;
}

table.payentttab {
    top: 10px;
}

@media screen and (max-width: 500px) {
    .formBdy  {
      zoom: .7; /* The width is 100%, when the viewport is 800px or smaller */
    }
    .addtBtn {
        zoom: .7; 
    }
  }



td.slno {

    
    width: 10%;
    text-align: center;
}

td.formlablesec {
}

td.formValesec {
    width: 50%;
}

.togledate {
    position: absolute;
    right: 0px;
}


.dtpickinp{
    // padding-right: 1.75rem;
}

td.paySlno {
}

td.payVal{
}

td.payBal {

}
td.payBalAmo {
    // padding-left: 17px;

}
td.payDate {
    // padding-left: 10px;

}

.paytogledate {
    position: absolute;
    right:  0px;
}


.addtBtn {
    background-color: #a7a7a7;
}

.lastAddRow {
    width: 100%;
    margin-top: 16px;
}

input.inputag.dtpickinp {
    padding-right: 1.75rem;
    
}