<div class="appFormHead">
  <h4 class="headerformlable">Payment Details</h4>
</div>

<div class="formBdy">
  <table class="lefttab" style="width:50%">
    <tr>
      <td class="slno">1.</td>
      <td class="formlablesec">Student Name</td>
      <td class="formValesec">
        <input type="text" class="form-control inputag">
      </td>
    </tr>

    <tr>
      <td class="slno">2.</td>
      <td class="formlablesec">Date Of Admission</td>
      <td class="formValesec">
        <input matInput class="form-control inputag" [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle class="togledate" matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </td>
    </tr>

  </table>
  <table class="righttab" style="width:48%">
    <tr>
      <td class="slno">3.</td>
      <td class="formlablesec">Courses</td>
      <td class="formValesec">
        <select class="form-control inputag" id="sel1">
          <option *ngFor="let Cour of Courses"> {{Cour.value}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td class="slno">4.</td>
      <td class="formlablesec">Fees</td>
      <td class="formValesec">
        <select class="form-control inputag" id="sel1">
          <option *ngFor="let fee of Fees"> {{fee.value}}</option>
        </select>
      </td>
    </tr>
  </table>
  <table class="payentttab" style="width:60%">
    <tr>
      <div *ngFor="let paid of paidAmount;let index = index">
        <td class="paySlno">Payment {{paid.slno}} Paid</td>
        <td class="payVal">
          <input type="text" [(ngModel)]='paid.Amount' class="form-control">
        </td>
        <td class="payBal">Balance </td>
        <td class="payBalAmo">
          <input type="text"  class="form-control">
        </td>
        <td class="payDate">
          <input matInput class="form-control inputag" [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle class="paytogledate" matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </td>
      </div>

    </tr>
    <tr class="lastAddRow">
        <h6 class="lastAddlable">Add new Payment</h6>
        <button class="btn addtBtn" (click)="addNew()" type="button">+</button>
      <tr>
  </table>

</div>