

.formBdy {
    top: 247px;
    width: 100%;
    margin: 0px !important;
    padding: 15px;
}

table.righttab {
    right: 0;
    top: 0;
}

table.payentttab {
    top: 10px;
}


td.slno {
    width: 10%;
    text-align: center;
}

td.formlablesec {
    width: 40%;
    padding-left: 34px;
}

td.formValesec {
    width: 50%;
}

.togledate {
    position: absolute;
    right: 0px;
}

td.paySlno {
    padding-left: 17px;
}

td.payVal{
    padding-left: 17px;
}

td.payBal {

}
td.payBalAmo {
    padding-left: 17px;

}
td.payDate {
    padding-left: 10px;

}

.paytogledate {
    position: absolute;
    right:  0px;
}

.lastAddlable{
    padding: 9px;
}

.lastAddRowws {
    padding: 10px 1px 11px 30px;
}

.addtBtn {
    background-color: #a7a7a7;
    width: 41px;
    height:  40px;
}

tr.lastAddRow {
    text-align: right;
    position: relative;
}