.fullformBody {
    box-shadow: 0 5px 20px 2px rgba(0,0,0,0.1);
}

h4.headerlable {
    text-align: center;
    background-color: #b92454;
    color: white;
}

img.institutelogo {
    height: 154px;
}

.example-app-name {
    text-align: center;
}
.institutelogobdy {
    text-align: center;
}

img.profilePic {
    height: 100%;
    border-style: groove;
}
.profilePicBorder {
    height: 133px;
    width: 117px;
    text-align: center;
}

.appFormHead {
    background-color: #b92454;
    color: #fff;
    width: 100%;
    height: 35px;
}

h4.headerformlable {
    position: absolute;
    text-align: center;
    width: 100%;
    pointer-events: none;
}

.vavbtn {
    float: left;
    padding: 3px;
    margin: 2px;
    cursor: pointer;
    background-color: #6e6c6c;
    box-shadow: 0px 0px 0px 1px #ffffff;
}

.vavbtn:hover {
    background-color: #ddd469;
    color: #000000;
    
}
