.fullformBody {
    position: relative;
    width: 1059px;
    margin: 20px auto 0;
    background: #FFF;
    border-radius: 6px;
    box-shadow: 0 5px 20px 2px rgba(0,0,0,0.1);
}

h4.headerlable {
    text-align: center;
    background-color: #b92454;
    color: white;
}

img.institutelogo {
    position: absolute;
    height: 177px;
}

.example-app-name {
    position: absolute;
    left: 326px;
    text-align: center;
}

img.profilePic {
    height: 100%;
    width: 100%;
}
.profilePicBorder {
    position: absolute;
    height: 133px;
    right: 44px;
    top: 49px;
    width: 117px;
    border-style: groove;
}


