.fullformBody {
    box-shadow: 0 5px 20px 2px rgba(0,0,0,0.1);
    padding: 4px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.row.head_bdy {
    margin-top: 5px;
}

.headerlable {
    text-align: center;
    background-color: #002147;
    color: white;
}

img.institutelogo {
    height: 154px;
}

.example-app-name {
    text-align: center;
}
.institutelogobdy {
    text-align: center;
}

img.profilePic {
    height: 100%;
    border-style: groove;
}
.profilePicBorder {
    height: 133px;
    width: 117px;
    text-align: center;
}

.appFormHead {
    background-color: #002147;
    color: #fff;
    width: 100%;
}

h4.headerformlable {
    width: 100%;
    pointer-events: none;
    
}

.btnallStu{
    position: absolute;
    right: 0;
    margin-right: 8px;
}

.vavbtn {
    float: left;
    padding: 3px;
    margin: 2px;
    cursor: pointer;
    background-color: #6e6c6c;
    box-shadow: 0px 0px 0px 1px #ffffff;
}

.vavbtn:hover {
    background-color: #ddd469;
    color: #000000;
    
}


/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 900px) {
    .example-app-name {
      zoom: .5; /* The width is 100%, when the viewport is 800px or smaller */
    }
    img.institutelogo{
        zoom: .5;
    }

    .profilePicBorder {
       
        zoom: .5;
    }
    
  }